/*
Syntax error: Inconsistent indentation: 2 spaces were used for indentation, but the rest of the document was indented using 8 spaces.
        on line 52 of slides.css

47: /usr/lib/ruby/vendor_ruby/sass/../sass/exec.rb:41:in `parse'
48: /usr/lib/ruby/vendor_ruby/sass/../sass/exec.rb:21:in `parse!'
49: /usr/bin/scss:8
50: */
51: body:before {
52:   white-space: pre;
53:   font-family: monospace;
54:   content: "Syntax error: Invalid CSS after \"...erif !important\": expected expression (e.g. 1px, bold), was \";\"\A         on line 2 of slides.css\A \A 1: * {\A 2:   font-family: \"HelveticaNeue-Light\", \"Helvetica Neue Light\", \"Helvetica Neue\", \"Helvetica Light\", Helvetica, Arial, \"Lucida Grande\", sans-serif !important;\A 3:   font-weight: 100;\A 4:   text-shadow: none; }\A 5: \A 6: @media screen {\A 7:   body {"; }

Backtrace:
slides.css:52
/usr/lib/ruby/vendor_ruby/sass/../sass/engine.rb:408:in `tabulate'
/usr/lib/ruby/vendor_ruby/sass/../sass/exec.rb:353:in `each_with_index'
/usr/lib/ruby/vendor_ruby/sass/../sass/engine.rb:366:in `each'
/usr/lib/ruby/vendor_ruby/sass/../sass/engine.rb:366:in `each_with_index'
/usr/lib/ruby/vendor_ruby/sass/../sass/engine.rb:366:in `tabulate'
/usr/lib/ruby/vendor_ruby/sass/../sass/engine.rb:329:in `_to_tree'
/usr/lib/ruby/vendor_ruby/sass/../sass/engine.rb:299:in `_render'
/usr/lib/ruby/vendor_ruby/sass/../sass/engine.rb:246:in `render'
/usr/lib/ruby/vendor_ruby/sass/../sass/plugin/compiler.rb:339:in `update_stylesheet'
/usr/lib/ruby/vendor_ruby/sass/../sass/plugin/compiler.rb:202:in `update_stylesheets'
/usr/lib/ruby/vendor_ruby/sass/../sass/plugin/compiler.rb:200:in `each'
/usr/lib/ruby/vendor_ruby/sass/../sass/plugin/compiler.rb:200:in `update_stylesheets'
/usr/lib/ruby/vendor_ruby/sass/../sass/plugin/compiler.rb:234:in `watch'
/usr/lib/ruby/vendor_ruby/sass/../sass/plugin.rb:107:in `send'
/usr/lib/ruby/vendor_ruby/sass/../sass/plugin.rb:107:in `method_missing'
/usr/lib/ruby/vendor_ruby/sass/../sass/exec.rb:427:in `watch_or_update'
/usr/lib/ruby/vendor_ruby/sass/../sass/exec.rb:302:in `process_result'
/usr/lib/ruby/vendor_ruby/sass/../sass/exec.rb:41:in `parse'
/usr/lib/ruby/vendor_ruby/sass/../sass/exec.rb:21:in `parse!'
/usr/bin/scss:8
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Inconsistent indentation: 2 spaces were used for indentation, but the rest of the document was indented using 8 spaces.\A         on line 52 of slides.css\A \A 47: /usr/lib/ruby/vendor_ruby/sass/../sass/exec.rb:41:in `parse'\A 48: /usr/lib/ruby/vendor_ruby/sass/../sass/exec.rb:21:in `parse!'\A 49: /usr/bin/scss:8\A 50: */\A 51: body:before {\A 52:   white-space: pre;\A 53:   font-family: monospace;\A 54:   content: \"Syntax error: Invalid CSS after \\"...erif !important\\": expected expression (e.g. 1px, bold), was \\";\\"\A         on line 2 of slides.css\A \A 1: * {\A 2:   font-family: \\"HelveticaNeue-Light\\", \\"Helvetica Neue Light\\", \\"Helvetica Neue\\", \\"Helvetica Light\\", Helvetica, Arial, \\"Lucida Grande\\", sans-serif !important;\A 3:   font-weight: 100;\A 4:   text-shadow: none; }\A 5: \A 6: @media screen {\A 7:   body {\"; }"; }
