* {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Helvetica Light", Helvetica, Arial, "Lucida Grande", sans-serif !important;
  font-weight: 100; }

body {
  background-color: black;
  background-image: url("media/patterns/110.gif"); }

.deck-container {
  display: block;
  width: 1124px;
  height: 768px;
  -webkit-box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.6);
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.6);
  margin: auto;
  background: white !important; }
  .deck-container h2, .deck-container h3, .deck-container h4, .deck-container h5 {
    display: none; }
  .deck-container .slide .slide-title {
    font-size: 1.2em; }
  .deck-container .slide .important {
    font-size: 1.2em;
    color: red; }
