$deck_size_width: 1124px;
$deck_size_height: 768px;

// Reset

* {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Helvetica Light", Helvetica, Arial, "Lucida Grande", sans-serif !important;
  font-weight: 100;
}

// Mixin
@mixin border-radius($r) {
    -webkit-border-radius:$r;
    -moz-border-radius:$r;
    border-radius:$r;
}

@mixin box-shadow($x, $y, $blur, $color) {
    -webkit-box-shadow:$x $y $blur $color;
    -moz-box-shadow:$x $y $blur $color;
    box-shadow:$x $y $blur $color;
}

@mixin translate($x: 0, $y: 0, $z: 0) {
    -webkit-transform:translate3d($x, $y, $z);
    -moz-transform:translate($x, $y);
    -ms-transform:translate($x, $y);
    -o-transform:translate($x, $y);
    transform:translate3d($x, $y, $z);
}

@mixin transition($prop, $duration, $easing: ease-in-out, $delay: 0ms) {
    -webkit-transition:$prop $duration $easing $delay;
    -moz-transition:$prop $duration $easing $delay;
    -ms-transition:$prop $duration $easing $delay;
    -o-transition:$prop $duration $easing $delay;
    transition:$prop $duration $easing $delay;
}

@mixin transform($val) {
    -webkit-transform:$val;
    -moz-transform:$val;
    -ms-transform:$val;
    -o-transform:$val;
    transform:$val;
}

@mixin opacity($val) {
    filter: alpha(opacity=$val);
    opacity: $val/100;
}

@mixin linear-gradient-background($light, $dark, $default) {
    background: rgb($default,$default,$default); /* Old browsers */
    background: -moz-linear-gradient(top, $light 0%, $dark 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$light), color-stop(100%,$dark)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, $light 0%,$dark 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, $light 0%,$dark 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, $light 0%,$dark 100%); /* IE10+ */
    background: linear-gradient(top, $light 0%,$dark 100%); /* W3C */
}

// Body

body {
    background-color: rgba(0,0,0,1);
    background-image: url('media/patterns/110.gif');
}

// Deck

.deck-container {
    display: block;
    width: $deck_size_width;
    height: $deck_size_height;
    @include box-shadow(2px, 2px, 15px, rgba(0, 0, 0, 0.6));
    margin: auto;

    background: white !important;

    h2, h3, h4, h5 {
        display: none;
    }

    .slide {
        .slide-title {
            font-size: 1.2em;
        }
    }
}
